@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
	background-color: #2e3137;
}

#app {
	color: lightgray;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	background-color: #454955;
	border-radius: 5px;
	border-width: 0px;
}

label {
	clear: left;
	text-align: right;
}

button,
select,
textarea {
	color: #c5c5c5;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #c5c5c5;
	opacity: 1;
	/* Firefox */
}

button {
	margin-top: 3%;
	background-color: #c5c5c5;
	color: black;
}

button:hover {
	color: gray;
}

span {
	color: lightgray;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

.form {
	margin: auto;
	border: 3px solid;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	border-radius: 10px;
	background-color: #22262b;
	width: 500px;
}

#modalformcontent {
	height: 200px;

}

#button1Text {
	margin-top: 5%;
}

#button2Text {
	margin-top: 5%;
}

#button1Text {
	margin-bottom: -50%;
}

#button2Text {
	margin-bottom: -50%;
}

.config {
	background-color: #22262b;
	color: #c5c5c5;
	font-family: inherit;
	text-align: left;
	font-size: 100%;

	height: 20%;
	width: 100%;
	border-radius: 10px;
	border: 3px solid;
	border-color: #ffffff;
	display: flex;
	justify-content: center;

	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #2e3137;


	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 30%;
	height: 30%;
	object-fit: cover;
}